<h1>shops login</h1>
<p>login form !</p>
<p><%= @notice %></p>
<br>

<p>login</p>
<%= form_tag("/management/login") do %>
  name:<textarea name="name"></textarea>
  pwd:<input type="password" name="pwd">
  <input type="submit" value="post投稿">
<% end %>

